<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable(<%- JSON.stringify(chartData) %>);

        var options = <%- JSON.stringify(chartOptions) %>;

    var chart = new google.visualization.ComboChart(document.getElementById('chart'));

    chart.draw(data, options);
  }
</script>
  </head>
  <body>
    <h1>Chart?</h1>
    <div id="chart"></div>
  </body>
</html>