<html>

<head>
	<title><%= pageOptions.hostname %> Results</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {
			'packages': ['corechart']
		});
		google.charts.load('current', {
			'packages': ['table']
		});
		google.charts.setOnLoadCallback(drawChart);

		var options = <%- JSON.stringify(chartOptions) %>;
		var chartData = <%- JSON.stringify(chartData) %>;
		var pageOptions = <%- JSON.stringify(pageOptions) %>;


		function drawChart() {
			var data = google.visualization.arrayToDataTable(chartData);
			var chart_div = document.getElementById('chart');
			var chart = new google.visualization.ComboChart(chart_div);

			// Wait for the chart to finish drawing before calling the getImageURI() method.
			if (pageOptions.image) {
				google.visualization.events.addListener(chart, 'ready', function () {
					document.getElementById('png').innerHTML = '<img src="' + chart.getImageURI() + '">';
					// document.getElementById('png').outerHTML = '<a href="' + chart.getImageURI() + '">Download PNG</a>';
					// console.log(chart_div.innerHTML);
				});
			}

			chart.draw(data, options);
		};

		if (pageOptions.table) google.charts.setOnLoadCallback(drawTable);
		function drawTable() {
			var data = google.visualization.arrayToDataTable(chartData);
			var table = new google.visualization.Table(document.getElementById('table'));
			table.draw(data);
		}
	</script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div class="container">

	<h1>Test results</h1>
	<div id="chart"></div>

	<h3>Understanding the chart</h3>
	<p>Lower values mean better speed.</p>
	<p>The blue bars show the raw loading time of the uncompressed URL(s). The more the average and median differ from each other, the more inconsistent load times are.</p>
	<% if (pageOptions.gzip) { %>
		<p>The orange bars show the loading time of the same URL(s) but requested with compression, if available. The text at the bottom of the chart shows the calculated filesize difference between uncompressed and compressed. The more the average and median differ from each other, the more inconsistent load times are.</p>
	<% } %>
	<% if (pageOptions.benchmark) { %>
		<p>The line<% if (pageOptions.gzip) { %>s<% } %> show<% if (! pageOptions.gzip) { %>s<% } %> the speed difference compared to the last URL (which will always be a value of 1, as the benchmark). The higher the factor, the slower the feed loads compared to the benchmark.</p>
	<% } %>

	<% if (pageOptions.image) { %>
		<h2>PNG image</h2>
		<div id="png"></div>
	<% } %>

	<% if (pageOptions.table) { %>
		<h2>Data table</h2>
		<div id="table"></div>
	<% } %>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>