<html>

<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {
			'packages': ['corechart']
		});
		google.charts.load('current', {
			'packages': ['table']
		});
		google.charts.setOnLoadCallback(drawChart);

		var options = <%- JSON.stringify(chartOptions) %>;
		var chartData = <%- JSON.stringify(chartData) %>;
		var pageOptions = <%- JSON.stringify(pageOptions) %>;


		function drawChart() {
			var data = google.visualization.arrayToDataTable(chartData);
			var chart_div = document.getElementById('chart');
			var chart = new google.visualization.ComboChart(chart_div);

			// Wait for the chart to finish drawing before calling the getImageURI() method.
			if (pageOptions.image) {
				google.visualization.events.addListener(chart, 'ready', function () {
					document.getElementById('png').innerHTML = '<img src="' + chart.getImageURI() + '">';
					// document.getElementById('png').outerHTML = '<a href="' + chart.getImageURI() + '">Download PNG</a>';
					// console.log(chart_div.innerHTML);
				});
			}

			chart.draw(data, options);
		};

		if (pageOptions.table) google.charts.setOnLoadCallback(drawTable);
		function drawTable() {
			var data = google.visualization.arrayToDataTable(chartData);
			var table = new google.visualization.Table(document.getElementById('table'));
			table.draw(data);
		}
	</script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div class="container">

	<h1>Test results</h1>
	<div id="chart"></div>

	<h3>Chart explanation</h3>
	<p>Coming soon…</p>

	<% if (pageOptions.image) { %>
		<h2>PNG image</h2>
		<div id="png"></div>
	<% } %>

	<% if (pageOptions.table) { %>
		<h2>Data table</h2>
		<div id="table"></div>
	<% } %>

</div>
</body>

</html>