<html>

<head>
	<script type="text/javascript"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
	<div class="container">

		<h1>Set your feed test options</h1>
		<form action="/chart/" method="post">
			<fieldset>

				<!-- Text input-->
				<div class="form-group">
					<label class="control-label" for="title">Test title</label>
					<input class="form-control col-4" id="title" name="title" type="text">
				</div>

				<!-- Select Basic -->
				<div class="form-group">
					<label class="control-label" for="test">Select a sample test or enter your own feed(s) below</label>
					<select id="test" name="test" class="form-control col-4">
						<option></option>
						<% sampleTests.forEach( sampleTest => { %>
							<option value="<%= sampleTest.replace('.json','') %>"><%= sampleTest.replace('.json','') %></option>
						<% }); %>
					</select>
				</div>

				<!-- Text input-->
				<div class="form-group">
					<div class="row">
						<div class="col-4">
							<label for="title">Label</label>
							<input id="label1" name="feeds[1]" type="text" class="form-control">
						</div>
						<div class="col-8">
							<label for="title">Feed</label>
							<input id="feed1" name="feeds[1]" type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-4">
							<input id="label2" name="feeds[2]" type="text" class="form-control">
						</div>
						<div class="col-8">
							<input id="feed2" name="feeds[2]" type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-4">
							<input id="label3" name="feeds[3]" type="text" class="form-control">
						</div>
						<div class="col-8">
							<input id="feed3" name="feeds[3]" type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-4">
							<input id="label4" name="feeds[4]" type="text" class="form-control">
						</div>
						<div class="col-8">
							<input id="feed4" name="feeds[4]" type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-4">
							<input id="label5" name="feeds[5]" type="text" class="form-control">
						</div>
						<div class="col-8">
							<input id="feed5" name="feeds[5]" type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-4">
							<input id="label1" name="feeds[6]" type="text" class="form-control">
						</div>
						<div class="col-8">
							<input id="feed1" name="feeds[6]" type="text" class="form-control">
						</div>
					</div>
				</div>

				<%# <!-- Text input-->
				<div class="form-group">
					<label class="col control-label" for="location">Test location/scenario label</label>
					<div class="col">
						<input id="location" name="location" type="text" placeholder="Cincinnati"
							class="form-control input-md">
						<span class="help-block">If you want to distinguish tests from different locations or
							scenarios.</span>
					</div>
				</div> %>

				<!-- Text input-->
				<div class="form-group">
					<label class="control-label" for="runs">How many times to test each feed?</label>
					<input class="form-control col-2" id="runs" name="runs" type="text" placeholder="default 10">
				</div>

				<!-- Multiple Checkboxes -->
				<div class="form-group">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="gzip" id="gzip" value="true">
						<label class="form-check-label" for="gzip">Check Gzip compression</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="http2" id="http2" value="true">
						<label class="form-check-label" for="http2">Check HTTP/2</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="image" id="image" value="true">
						<label class="form-check-label" for="image">Generate PNG image</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="table" id="table" value="true">
						<label class="form-check-label" for="table">Show data table</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="verbose" id="verbose" value="true">
						<label class="form-check-label" for="verbose">Verbose node.js log</label>
					</div>
				</div>

				<!-- Button -->
				<button id="submit" type="submit" class="btn btn-primary">Start test</button>

			</fieldset>
		</form>
	</div>
</body>

</html>